<head th:fragment="head (title)">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="${meta_description!}">
    <meta name="keyword" content="${meta_keywords!}">

    <title th:text="${title}"></title>

    <link rel="stylesheet" th:href="@{/assets/lib/bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet" th:href="@{/assets/css/hux-blog.min.css}">

    <link rel="stylesheet" th:href="@{/assets/css/syntax.css}">
    <link th:href="@{/assets/lib/highlight.js/github.min.css}" rel="stylesheet">

    <link th:href="@{/assets/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">


    <link href='//fonts.loli.net/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link
        href='//fonts.loli.net/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>


    <script th:src="@{/assets/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/assets/lib/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/hux-blog.min.js}"></script>
    <script th:src="@{/assets/js/layer/layer.js}"></script>
    <script th:src="@{/assets/js/snackbar.js}"></script>
    <!-- <script th:src="@{/assets/js/sw-registration.js}"></script> -->
    <script th:src="@{/assets/js/archive.js}"></script>
    <style>
        @font-face {
            font-family: bili;
            src: url('/themes/halo-theme-hux/assets/fonts/Bilibili.ttf')
        }

        .biliFont {
            font-family: bili
        }

        .post-title {
            padding: 10px 10px 20px 10px;
        }

        .post-preview {
            border-radius: 10px;
        }

        .fa-width-90 {
            width: 90%;
        }
    </style>
</head>