<div th:fragment="page(title,pagetitle,slogn,cover)">
    <!-- Page Header -->
    <header class="intro-header" th:style="|background-image: url('${cover}')|">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                    <div class="site-heading">
                        <h1 th:text="${title}"></h1>
                        <!--<hr class="small">-->
                        <span class="subheading" th:text="${slogn}"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <th:block th:if="${theme.config.general.notice}">
        <div style="text-align:center;" id="notice" th:text="${theme.config.general.notice}">
        </div>
    </th:block>

</div>